<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jshvarts.flatstanley">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".FlatStanleyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".data.MyContentProvider"
            android:authorities="com.jshvarts.flatstanley.data"
            android:exported="false"/>

        <activity android:name=".activities.LobbyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TakePicActivity"
            android:parentActivityName=".activities.LobbyActivity"
            android:label="@string/screen_name_take_pic" />
        <activity android:name=".activities.ChoosePicActivity"
            android:parentActivityName=".activities.LobbyActivity"
            android:label="@string/screen_name_choose_pic" />
        <activity android:name=".activities.MakeFlatStanleyActivity"
            android:parentActivityName=".activities.LobbyActivity"
            android:label="@string/screen_name_make_flat_stanley" />
        <activity android:name=".activities.ShareFlatStanleyActivity"
            android:parentActivityName=".activities.MakeFlatStanleyActivity"
            android:label="@string/screen_name_share_flat_stanley" />
        <activity android:name=".activities.ShareExistingFlatStanleyActivity"
            android:parentActivityName=".activities.BrowseFlatStanleysActivity"
            android:label="@string/screen_name_share_flat_stanley" />
        <activity android:name=".activities.BrowseFlatStanleysActivity"
            android:parentActivityName=".activities.LobbyActivity"
            android:label="@string/screen_name_browse_flat_stanleys"
            android:windowSoftInputMode="stateHidden"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jshvarts.flatstanley.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>