<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jshvarts.flatstanley">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SpringboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LobbyActivity" />
        <activity android:name=".activities.TakePicActivity" />
        <activity android:name=".activities.ChoosePicActivity" />
        <activity android:name=".activities.MakeFlatStanleyActivity" />
        <activity android:name=".activities.ShareFlatStanleyActivity" />
        <activity android:name=".activities.BrowseFlatStanleysActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jshvarts.flatstanley.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".MediaScannerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

    </application>

</manifest>